@model IEnumerable<teatsite.Models.tLinks>

    @foreach (var item in Model)
    {
        
        <div class="clearfix single_sidebar">
            <div class="sidebar_title"><h2>@item.name</h2></div>


        </div>


    }


