
USE [att_khovd_drama_db]
GO
/****** Object:  Table [dbo].[tbanner]    Script Date: 2016-01-27 00:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbanner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[banner_id] [int] NULL,
	[name] [nvarchar](200) NULL,
	[Url] [nvarchar](200) NULL,
	[addedtime] [datetime] NULL,
	[images] [nvarchar](max) NULL,
	[banner_code] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbanner] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbanner_cat]    Script Date: 2016-01-27 00:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbanner_cat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
	[url] [nvarchar](max) NULL,
	[images] [nvarchar](max) NULL,
	[addedtime] [datetime] NULL,
 CONSTRAINT [PK_tbanner_cat] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tComment]    Script Date: 2016-01-27 00:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tComment](
	[comment_id] [int] IDENTITY(11,1) NOT NULL,
	[news_ids] [int] NULL,
	[name] [nvarchar](100) NULL,
	[e-mails] [nvarchar](200) NULL,
	[comment] [nvarchar](400) NULL,
	[addedcomment] [datetime] NULL,
	[http_posted] [nvarchar](50) NULL,
 CONSTRAINT [PK_tComment] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tLinks]    Script Date: 2016-01-27 00:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLinks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[url] [nvarchar](300) NULL,
	[addedlink] [datetime] NULL,
	[images] [nvarchar](max) NULL,
 CONSTRAINT [PK_tLinks] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tMenu]    Script Date: 2016-01-27 00:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMenu](
	[menu_id] [int] IDENTITY(1000,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[Url] [nvarchar](max) NULL,
	[images] [nvarchar](max) NULL,
	[addeddate] [datetime] NULL,
 CONSTRAINT [PK_tMenu] PRIMARY KEY CLUSTERED 
(
	[menu_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tNews]    Script Date: 2016-01-27 00:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tNews](
	[news_id] [int] IDENTITY(403,1) NOT NULL,
	[subs_id] [int] NULL,
	[menus_ids] [int] NULL,
	[title] [nvarchar](150) NULL,
	[title_more] [nvarchar](250) NULL,
	[detials] [nvarchar](max) NULL,
	[images] [nvarchar](max) NULL,
	[addedtime] [datetime] NULL,
	[news_count] [int] NULL,
	[news_video] [nvarchar](max) NULL,
	[news_audio] [nvarchar](max) NULL,
 CONSTRAINT [PK_tNews] PRIMARY KEY CLUSTERED 
(
	[news_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tSubmenu]    Script Date: 2016-01-27 00:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSubmenu](
	[sub_id] [int] IDENTITY(100,1) NOT NULL,
	[menus_id] [int] NULL,
	[name] [nvarchar](50) NULL,
	[url] [nvarchar](max) NULL,
	[images] [nvarchar](max) NULL,
	[addedtime] [datetime] NULL,
 CONSTRAINT [PK_tSubmenu] PRIMARY KEY CLUSTERED 
(
	[sub_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 2016-01-27 00:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](56) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_Membership]    Script Date: 2016-01-27 00:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Membership](
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[ConfirmationToken] [nvarchar](128) NULL,
	[IsConfirmed] [bit] NULL DEFAULT ((0)),
	[LastPasswordFailureDate] [datetime] NULL,
	[PasswordFailuresSinceLastSuccess] [int] NOT NULL DEFAULT ((0)),
	[Password] [nvarchar](128) NOT NULL,
	[PasswordChangedDate] [datetime] NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[PasswordVerificationToken] [nvarchar](128) NULL,
	[PasswordVerificationTokenExpirationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_OAuthMembership]    Script Date: 2016-01-27 00:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_OAuthMembership](
	[Provider] [nvarchar](30) NOT NULL,
	[ProviderUserId] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Provider] ASC,
	[ProviderUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_Roles]    Script Date: 2016-01-27 00:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_UsersInRoles]    Script Date: 2016-01-27 00:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_UsersInRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[newscount]    Script Date: 2016-01-27 00:29:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[newscount] AS
	 SELECT tMenu.name AS menu_name, 
     COUNT(tNews.news_id) AS news_number
     FROM tMenu
     LEFT JOIN tSubmenu ON tSubmenu.menus_id = tMenu.menu_id
     LEFT JOIN tNews ON tNews.subs_id = tSubmenu.sub_id
     group by tMenu.Name

GO
SET IDENTITY_INSERT [dbo].[tComment] ON 

INSERT [dbo].[tComment] ([comment_id], [news_ids], [name], [e-mails], [comment], [addedcomment], [http_posted]) VALUES (34, 1415, N'зочин', N'oombii_d@yahoo.com', N'хуулийн заалт нь зөв ', CAST(N'2016-01-03 18:10:16.417' AS DateTime), N'::1')
INSERT [dbo].[tComment] ([comment_id], [news_ids], [name], [e-mails], [comment], [addedcomment], [http_posted]) VALUES (35, 1424, N'dsdsdd', N'jljl', N';jlkhgg', CAST(N'2016-01-03 18:19:21.877' AS DateTime), N'::1')
INSERT [dbo].[tComment] ([comment_id], [news_ids], [name], [e-mails], [comment], [addedcomment], [http_posted]) VALUES (36, 1414, N'dddd', N'ccdd', N'ddsfskhfsk', CAST(N'2016-01-03 18:35:49.703' AS DateTime), N'::1')
SET IDENTITY_INSERT [dbo].[tComment] OFF
SET IDENTITY_INSERT [dbo].[tLinks] ON 

INSERT [dbo].[tLinks] ([id], [name], [url], [addedlink], [images]) VALUES (1, N'Хуулийн нэгдсэн портал сайт', N'http://www.legalinfo.mn', NULL, NULL)
INSERT [dbo].[tLinks] ([id], [name], [url], [addedlink], [images]) VALUES (2, N'Ховд аймгийн нэгдсэн сайт', N'http://www.khovd.gov.mn', NULL, NULL)
INSERT [dbo].[tLinks] ([id], [name], [url], [addedlink], [images]) VALUES (3, N'Ховд аймаг 11-11 төв', N'http://khovd-1111.mn', CAST(N'2016-01-12 01:07:23.390' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tLinks] OFF
SET IDENTITY_INSERT [dbo].[tMenu] ON 

INSERT [dbo].[tMenu] ([menu_id], [name], [Url], [images], [addeddate]) VALUES (1000, N'ХУУЛИЙН САН', NULL, NULL, CAST(N'2015-12-12 23:47:00.890' AS DateTime))
INSERT [dbo].[tMenu] ([menu_id], [name], [Url], [images], [addeddate]) VALUES (1001, N'ЭРҮҮЛ МЭНД', NULL, NULL, CAST(N'2015-12-12 23:47:40.537' AS DateTime))
INSERT [dbo].[tMenu] ([menu_id], [name], [Url], [images], [addeddate]) VALUES (1002, N'ЗӨВЛӨГӨӨ', NULL, NULL, CAST(N'2015-12-12 23:47:50.073' AS DateTime))
SET IDENTITY_INSERT [dbo].[tMenu] OFF
SET IDENTITY_INSERT [dbo].[tNews] ON 

SET IDENTITY_INSERT [dbo].[tNews] OFF
SET IDENTITY_INSERT [dbo].[tSubmenu] ON 

INSERT [dbo].[tSubmenu] ([sub_id], [menus_id], [name], [url], [images], [addedtime]) VALUES (100, 1001, N'эмч зөвлөж байна', NULL, NULL, CAST(N'2015-12-12 23:54:07.467' AS DateTime))
INSERT [dbo].[tSubmenu] ([sub_id], [menus_id], [name], [url], [images], [addedtime]) VALUES (101, 1000, N'их засаг хуулинд', NULL, NULL, CAST(N'2015-12-12 23:57:51.640' AS DateTime))
INSERT [dbo].[tSubmenu] ([sub_id], [menus_id], [name], [url], [images], [addedtime]) VALUES (102, 1002, N'архинаас гарах арга', NULL, NULL, CAST(N'2015-12-12 23:58:04.583' AS DateTime))
SET IDENTITY_INSERT [dbo].[tSubmenu] OFF
SET IDENTITY_INSERT [dbo].[UserProfile] ON 

INSERT [dbo].[UserProfile] ([UserId], [UserName]) VALUES (1, N'oombii')
INSERT [dbo].[UserProfile] ([UserId], [UserName]) VALUES (2, N'oombii_deegii')
SET IDENTITY_INSERT [dbo].[UserProfile] OFF
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (1, CAST(N'2016-01-19 03:32:22.940' AS DateTime), NULL, 1, CAST(N'2016-01-19 05:39:12.900' AS DateTime), 1, N'AIhBuC8WyoZmdI7CY4l+PLIOEZAFS1tllVXanbNJ3WoTWeuT1FA1Dr8TQWrk//wfhg==', CAST(N'2016-01-19 05:29:22.310' AS DateTime), N'', NULL, NULL)
INSERT [dbo].[webpages_Membership] ([UserId], [CreateDate], [ConfirmationToken], [IsConfirmed], [LastPasswordFailureDate], [PasswordFailuresSinceLastSuccess], [Password], [PasswordChangedDate], [PasswordSalt], [PasswordVerificationToken], [PasswordVerificationTokenExpirationDate]) VALUES (2, CAST(N'2016-01-19 05:56:56.663' AS DateTime), NULL, 1, NULL, 0, N'AF7j0rrqKffzeXhUVQnVUsIOrun+bnPzzbJvgqTMrXVU81mbgZ/j+utLQoCT143s9g==', CAST(N'2016-01-19 05:56:56.663' AS DateTime), N'', NULL, NULL)
SET IDENTITY_INSERT [dbo].[webpages_Roles] ON 

INSERT [dbo].[webpages_Roles] ([RoleId], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[webpages_Roles] ([RoleId], [RoleName]) VALUES (2, N'Users')
SET IDENTITY_INSERT [dbo].[webpages_Roles] OFF
INSERT [dbo].[webpages_UsersInRoles] ([UserId], [RoleId]) VALUES (2, 1)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__UserProf__C9F2845681AC67F3]    Script Date: 2016-01-27 00:29:58 ******/
ALTER TABLE [dbo].[UserProfile] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__webpages__8A2B6160DB0A1496]    Script Date: 2016-01-27 00:29:58 ******/
ALTER TABLE [dbo].[webpages_Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbanner]  WITH CHECK ADD  CONSTRAINT [FK_tbanner_tbanner_cat] FOREIGN KEY([banner_id])
REFERENCES [dbo].[tbanner_cat] ([id])
GO
ALTER TABLE [dbo].[tbanner] CHECK CONSTRAINT [FK_tbanner_tbanner_cat]
GO
ALTER TABLE [dbo].[tComment]  WITH CHECK ADD  CONSTRAINT [FK_tComment_tNews1] FOREIGN KEY([news_ids])
REFERENCES [dbo].[tNews] ([news_id])
GO
ALTER TABLE [dbo].[tComment] CHECK CONSTRAINT [FK_tComment_tNews1]
GO
ALTER TABLE [dbo].[tNews]  WITH CHECK ADD  CONSTRAINT [FK_tNews_tMenu] FOREIGN KEY([menus_ids])
REFERENCES [dbo].[tMenu] ([menu_id])
GO
ALTER TABLE [dbo].[tNews] CHECK CONSTRAINT [FK_tNews_tMenu]
GO
ALTER TABLE [dbo].[tNews]  WITH CHECK ADD  CONSTRAINT [FK_tNews_tSubmenu] FOREIGN KEY([subs_id])
REFERENCES [dbo].[tSubmenu] ([sub_id])
GO
ALTER TABLE [dbo].[tNews] CHECK CONSTRAINT [FK_tNews_tSubmenu]
GO
ALTER TABLE [dbo].[tSubmenu]  WITH CHECK ADD  CONSTRAINT [FK_tSubmenu_tMenu] FOREIGN KEY([menus_id])
REFERENCES [dbo].[tMenu] ([menu_id])
GO
ALTER TABLE [dbo].[tSubmenu] CHECK CONSTRAINT [FK_tSubmenu_tMenu]
GO
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[webpages_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_RoleId]
GO
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserProfile] ([UserId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_UserId]
GO
