@model IEnumerable<teatsite.Models.tNews>

@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/_Layout_new.cshtml";
}

  @{ 
      var med = "_medium.jpg";
  }
    

@foreach (var item in Model) {

    
       <div class="clearfix single_content">
                       
                        <div class="clearfix post_date floatleft">
                            <div class="date">
                                <h3>27</h3>
                                <p>January</p>
                                <p>January</p>
                            </div>
                        </div>
                        <div class="clearfix post_detail">
                            <h2><a href="">@item.title</a></h2>
                            <div class="clearfix post-meta">
                                <p><span><i class="fa fa-user"></i> Admin</span> <span><i class="fa fa-clock-o"></i> @item.addedtime</span> <span><i class="fa fa-comment"></i> 4 comments</span> <span><i class="fa fa-folder"></i> @item.tSubmenu.name</span></p>
                            </div>
                            <div class="clearfix post_excerpt">
                                <img src="~/news-images/@item.images@med" alt="" />
                              
                                <p>
                                  @Html.Raw(item.title_more)
                                </p>
                            </div>
                            <a href="~/n/details/@item.news_id">Дэлгэрэнгүй</a>
                        </div>
                    </div>
}


