@model teatsite.Models.LocalPasswordModel
@{
    ViewBag.Title = "Нууц үгээ баталгаажуулах";
}



<p style="text-align:center;" class="message-success">@ViewBag.StatusMessage</p>
<p style="text-align:center;"><strong>@User.Identity.Name</strong>. Та веб сайтад нэвтэрсэн байна </p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}


