@model IEnumerable<teatsite.Models.tComment>

@{
    ViewBag.Title = "Сэтгэгдэл жагсаалт";
}
@{
    Layout = "~/Views/Shared/_Layout_admin1.cshtml";
}
<table class="table table-striped table-bordered bootstrap-datatable datatable responsive">

    <thead>
        <tr>
            <th>Зочин</th>
            <th>Comment</th>
            <th>Огноо</th>
            <th>статус</th>
            <th>Удирдлага</th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                <td>@item.name</td>
                <td class="center">@item.comment</td>
                <td class="center">@item.addedcomment</td>
                <td class="center">
                    <span class="label-success label label-default">нийтэлсэн</span>
                </td>
                <td class="center">
                   
                    <a class="btn btn-danger" href="~/c/delete/@item.comment_id">
                        <i class="glyphicon glyphicon-trash icon-white"></i>
                        устгах
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>