@model IEnumerable<teatsite.Models.tMenu>

<li><a href="/">Нүүр хуудас</a></li>
    @foreach (var item in Model)
    {
<li>

        <a href="~/n/m/@item.menu_id">@item.name</a>
        @Html.Action("sublist", "submenu", new {id=item.menu_id })
</li>
    }


