@model IEnumerable<teatsite.Models.tMenu>

@{
    ViewBag.Title = "Үндсэн цэсүүд";
}
@{
    Layout = "~/Views/Shared/_Layout_admin1.cshtml";
}
    <table class="table table-striped table-bordered responsive">
        <thead>
            <tr>
                <th>Цэс нэр</th>
                <th>Огноо:</th>
                <th>Дугаар</th>
                <th>Статус</th>
                <th>Удирдлага</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.name</td>
                    <td class="center">@item.addeddate</td>
                    <td class="center">@item.menu_id</td>
                    <td class="center">
                        <span class="label-success label label-default">нийтэлсэн</span>
                    </td>
                    <td class="center">
                        <a class="btn btn-success" href="/" target="_blank">
                            <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                            Үзэх
                        </a>
                        <a class="btn btn-info" href="~/menu/edit/@item.menu_id">
                            <i class="glyphicon glyphicon-edit icon-white"></i>
                            Засах
                        </a>
                        <a class="btn btn-danger" href="~/menu/delete/@item.menu_id">
                            <i class="glyphicon glyphicon-trash icon-white"></i>
                            Устгах
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
