@model IEnumerable<teatsite.Models.tSubmenu>

@{
    ViewBag.Title = "Дэд цэсүүд";
}
@{
    Layout = "~/Views/Shared/_Layout_admin1.cshtml";
}

    <table class="table table-striped table-bordered responsive">
        <thead>
            <tr>
                <th>Үндсэн цэс</th>
                <th>Дэд цэс</th>
                <th>Дугаар</th>
                <th>Статус</th>
                <th>Удирдлага</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.tMenu.name</td>
                    <td class="center">@item.name</td>
                    <td class="center">@item.sub_id</td>
                    <td class="center">
                        <span class="label-success label label-default">Нийтэлсэн</span>
                    </td>
                    <td class="center">
                        <a class="btn btn-success" href="/" target="_blank">
                            <i class="glyphicon glyphicon-zoom-in icon-white"></i>
                            Үзэх
                        </a>
                        <a class="btn btn-info" href="~/submenu/edit/@item.sub_id">
                            <i class="glyphicon glyphicon-edit icon-white"></i>
                            Засах
                        </a>
                        <a class="btn btn-danger" href="~/submenu/delete/@item.sub_id">
                            <i class="glyphicon glyphicon-trash icon-white"></i>
                            Устгах
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
